.navbar-brand img{
    width: 10%;
}
.navbar {
    background-color:#333333;
}
nav {
    position: fixed;
    height: 15vh;
}
ul {
    display: flex;
    flex-direction: row;
}
ul li {
    list-style: none;
}
footer {
    background-color:#333333;
}

body {

}

.animation{
    font-weight: 800;
    font: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}
.animation .word {
    display: inline-block;
    line-height: 1em;
}


/*-----------les articles-----------*/

.posts {
    /*overflow: hidden;*/
    padding-top: 15vh;
    height: auto;
}
.article .container{
    /*background-image: url(pictures/wallpaper.png);
    opacity: 0.6;*/
    background-color: rgb(247, 234, 218);
    overflow: hidden;
}

/*-----------------Template--------------*/

.modal-content {
    background-color: black!important;
    opacity: 0.8;
}